*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:#111;
    color:white;
    line-height:1.8;
}

header{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
    background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7));
}

header h1{
    font-size:70px;
    color:#f4b400;
}

header p{
    font-size:24px;
    margin:20px 0;
}

header a{
    text-decoration:none;
    background:#f4b400;
    color:#111;
    padding:15px 35px;
    border-radius:40px;
    font-weight:bold;
    transition:.3s;
}

header a:hover{
    background:white;
}

section{
    max-width:1000px;
    margin:auto;
    padding:80px 20px;
}

h2{
    color:#f4b400;
    margin-bottom:20px;
    font-size:36px;
}

p{
    font-size:20px;
}

#wallet{
    margin:30px 0;
    background:#222;
    padding:20px;
    border-radius:10px;
    word-break:break-all;
}

button{
    background:#f4b400;
    color:#111;
    border:none;
    padding:15px 30px;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;
}

button:hover{
    background:white;
}

footer{
    text-align:center;
    padding:40px;
    background:#000;
    color:#aaa;
}
